@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');
@import "variables";
@import "mixens";
@import "keyframes";
@import "loops";


body, html {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, .90);
  animation: loader 0.01s 1.75s both ;
  z-index: 10000;
  display:flex;
  align-items:center;
  justify-content:center;

  &-item {
    height: 1rem;
    width: 1rem;
    border-radius: 1rem;
    animation: jump 1s;
    animation-iteration-count: 1;

    &Container {
      display: flex;
      width: 5rem;
      justify-content: space-between;
    }

    &1 {
      background-color: $color-primary;
    }
  
    &2 {
      background-color: $color-secondary;
      animation-delay: 0.25s;
    }
  
    &3 {
      background-color: $color-tertiary;
      animation-delay: 0.5s;
    }
  }

  
}

.header {
  padding: 1rem $appPadding;
  box-sizing: border-box;
  height: 50px;
  position: relative;

  &-logo {
    font-family: "Shrikhand", "cursive";
    margin: 0;
    text-align: center;
    padding: 10px 0;
    border-bottom: 2px solid transparent;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.95);
  }
}

.location {
  display: flex;
  justify-content: center;
  padding: 1.25rem $appPadding;
  background: darken($backgroundlocation, 7%);
  font-size: 1.2rem;
  position: relative;

  &-icon {
    margin-right: 1rem;
  }

  &-text {
    font-weight: 700;
  }
}

.explorer {
  padding:2rem;
  text-align: center;
  background: $backgroundlocation;
  height: 180px;
  @media (min-width:64rem){
    height: 250px;
    &-title {
      font-size:2.5rem ;
      margin: 0;
    }
  
    &-subtitle {
      font-size: 1.5rem;
    }
  
  }
  


  &-title {
    margin: 0;
  }

  &-subtitle {
    font-weight: 300;
    margin: 1.5rem 0;
  }

  &-btn {
    @include button(primary);
    
  }

  @media (min-width:180px) and (max-width:63.9rem){
    font-size: 0.8rem;
    padding: 1rem;
    &-btn {
      font-size: 0.8rem;
      
    }

  }

  @media (min-width:100px) and (max-width:179px){
    font-size: 0.5rem;
    padding: 0.5rem;
    &-btn {
      font-size: 0.5rem;
      
    }

  }

  

}



.filtre {
  padding: ( $appPadding + 1rem ) $appPadding;
  margin: 20px 0;
  @media (min-width:100px) and (max-width:179px){
    font-size: 0.5rem;

    padding: 0.5rem;
    &-btn {
      font-size: 0.5rem;
      
    }

  }
  @media (min-width:64rem) {
   margin: 40px 0;
   &-title {
    font-size: 2rem;
  }
   
    
    }

  &-title {
    margin-top: 0;
  }

  &-steps {
    margin: 0;
    padding: 0;
    list-style: none;
    counter-reset: compteListe;

    @media (min-width:64rem) {
    display: flex;
   
      
    }
    
  }
  @media (min-width:180px) and (max-width:63.9rem) {
    padding: 1rem;
     
  }

  &-step {
    padding: 1.5rem;
    margin: 1rem 0 1.5rem 0.75rem;
    @include box-shadow;
    border-radius: 5.25rem;
    background-color: $backgroundlocation;
    display: flex;
    position: relative;
    
    @media (min-width:180px) and (max-width:63.9rem) {
      padding:1rem;
      font-size: 1rem;
         
    }

    @media (min-width:64rem) {
      flex: 1;
      margin: 0;
      margin-left: 2rem;
      font-size: 1.5rem;
      align-items: center;
     
      height: 40px;
      & i {
        position: absolute;
        left: 30px;
        margin: 0 10px;
      }
      & span {
        position: absolute;
        left: 65px;
        margin: 0 10px;
      }


      &:first-child {
        margin-left: 1rem;
        position: relative;
       
      } 
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      counter-increment: compteListe 1;
      content: counter(compteListe) " ";
      background: $color-primary;
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      position: absolute;
      left: -0.75rem;
      @media (min-width:64rem){
        height: 2.5rem;
        width: 2.5rem;
      }
    }
  }

  &-icon {
    margin-right: 1rem;
    color: #7e7e7e;
  }
}

.restaurants {
  background-color:$backgroundlocation;
  padding: ($appPadding + 1rem) $appPadding;
  @media (min-width:64rem){
    font-size: 1.9rem;
  }

}

.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: minmax(400px, auto);
  row-gap: 20rem;
  grid-gap: 20px;

  @media (min-width:64rem) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card {
  background-color:lighten($backgroundlocation, 100%);
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block;
  height: 300px;
  margin-top: 20px;
  @include box-shadow;
  
  @media (min-width:64rem) {
    height: 700px;
    font-size: 1.8rem;
    margin-top: 40px;
    &-img{
      height: 80%;
    
    }
  }
 
  &-img {
    height: 70%;
    width: 100%;
    border: transparent solid 0px;
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
  }

  &_badge {
    background-color: $color-tertiary;
    color: darken($color-tertiary, 50%);
    padding: 0.5rem;
    border-radius: 0.125rem;
    position: absolute;
    top: 1rem;
    right: 0.75rem;
  }

  &-footer {
    padding: 1rem;
    position: relative;
    display: flex;
    align-items: center;
  }

  &-content {
    flex: 1;
  }

  &-title {
    margin: 0;
    margin-bottom: 0.25rem;
  }

  &-subtitle {
    margin: 0;
  }

  &-btn {
    height: 2rem;
    width: 2rem;
    background-color: transparent;
    border: transparent 0px solid;
    padding: 0;
    display:flex;
    align-items:center;
    justify-content:center;
    
  }

  &-like {
    background-color: white!important;
  }
}

.container {
  max-width: 100%;
  margin: auto;
  position: relative;
}


.footer {
  background-color:$footercolor;
  
  .container {
    display: flex;
    flex-direction: column;
    padding: $appPadding;
  }
  
  &-logo {
    color: white;
    font-family:$font-logo;
    margin: 0;
    font-size: 1.2rem;
    margin-bottom: $appPadding;
  }

  &-listwrapper {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &-list {
    margin: 0.5rem 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-link {
    color: white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &-icon {
    width: 1.2rem;
    margin-right: 0.5rem;
  }
}
