@use "sass:color";
@mixin box-shadow {box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  
}
@mixin button($type) {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: white;
  background-color: rgb(104, 104, 104);
  background-image:linear-gradient(0deg, lighten($color-primary, 10%), color.scale($color-secondary, $lightness: 10%));
  cursor: pointer;
  transition-duration: 0.25s;
  @include box-shadow;

  &:hover {
    background-color: white;
    @include box-shadow;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

@mixin btn {
    height: 2rem;
    width: 2rem;
    background-color: black;
    border: unset;
    padding: 0;
    display:inline-block;
    align-items:center;
    justify-content:center;
    cursor: pointer;
    position: relative;
    @media (min-width:64rem) {
      height: 5rem;
      width: 5rem;
    }
    &::before {
      opacity: 0;
      transition: 0.5s;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(0deg, $color-primary 0%,$color-secondary 100%);
    }
    &:hover::before {
      opacity: 1;
    }
}

@mixin menuLike {
  transition: 0.25s;
    background-color:#f6f6f6;;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display:inline-block;
    align-items:center;
    justify-content:center;
    mix-blend-mode: lighten;
  
}