@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');
@import "variables";
@import "mixens";
@import "keyframes";
@import "loops";


.headerBackArrow{
  padding-top: 0;
  display: block;
  text-align: center;
  height: 70px;
  &-logo{
    font-family: "Shrikhand", "cursive";
    margin: 0;
    text-align: center;
    padding: 10px 0;
    font-size: 2rem
    ;
   
  }
  

  a {
    position: absolute;
    left: 2rem;
    height: 3rem;
    width: 3rem;
    line-height: 66px;
    display: block;
    font-size: 1.2rem;
    color: black;
    transform: translatex(-90%);
    text-decoration: unset;
    & i{
      padding: 1.5rem;
      display:inline-block;
    
    }
    
  }

 
}


.cover-Img{
  width: 100%;
  max-height: 32rem;
  object-fit: cover;
}

.menu {
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative;

  &-header {
    padding: 1rem 2rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-title {
    font-family: "Shrikhand", "cursive";
  }
  

  &-btn {
    height: 2rem;
    width: 2rem;
    background-color: black;
    border: unset;
    padding: 0;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor: pointer;
    position: relative;
    @media (min-width:64rem) {
      height: 5rem;
      width: 5rem;
    }
    
    &:hover::before {
      opacity: 1;
    }
    
    &::before {
      opacity: 0;
      transition: 0.5s;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(0deg, $color-primary 0%,$color-secondary 100%);
    }
  }

  &-like {
    transition: 0.25s;
    background-color: #f6f6f6;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display:flex;
    align-items:center;
    justify-content:center;
    mix-blend-mode: lighten;
  }

  &-btn:hover {
    .menu-like {
      &--noBg {
        opacity: 0;

      }
      

    
    }
  }
}

.menu-elements {
  display: grid;

  @media (min-width:64rem) {
    grid-template-columns: repeat(3,1fr);
    column-gap: 1rem;
  }
}

.menu-element {
  max-width: 100%;
  overflow: hidden;
  padding: 0 1rem;

  &-title {
    text-transform: uppercase;
    position: relative;
    padding-bottom: 0.5rem;
    font-weight: normal;

    &::after {
      content: "";
      width: 3rem;
      height: 0.25rem;
      background-color: $color-tertiary;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
}

.menuItem {
  background-color: white;
  padding: 1rem;
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 0;
  @include box-shadow;
  overflow: hidden;
  cursor: pointer;
  animation: itemAppear 0.6s  cubic-bezier(.5,1.58,.34,.82)  both;
  transform: scale(0);
  max-width: 100%;

  &-header {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
  }

  &-title {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-description {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-price {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 0.5rem;
  }

  &-confirmation {
    background-color: $color-tertiary;
    margin: -1rem -5rem -1rem 1rem;
    width: 4rem;
    display:flex;
    align-items:center;
    justify-content:center;
    transition-duration: 0.5s;
  }

  &:hover &-confirmation {
    margin-right: -1rem;
  }

  &-icon-wrapper{
    height: 1.6rem;
    width: 1.6rem;
    background-color: white;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius: 100px;
    transform: rotate(180deg);
    transition-duration: 0.5s;

  }

  &:hover &-icon-wrapper{
    transform: rotate(0);
  }

  &-icon {
    color: $color-tertiary;
  }
}

.btn-wrapper {
  display: flex;
  text-decoration: none;
  justify-content: center;
  padding: 3rem 0;
}

.order-Btn {
  @include button(primary);
}

@for $i from 0 to 9 {
  .delay-#{$i} {
    animation-delay:  #{$i/10}s;
  }
}