@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');
@import 'variables';
@import 'mixens';
@import 'keyframes';

/*les sous pages */

/*section pour le header les sous pages */
.headerBackArrow {
  padding-top: 0;
  display: block;
  text-align: center;
  height: 70px;
  
  &-logo {
    font-family: 'Shrikhand', 'cursive';
    margin: 0;
    text-align: center;
    padding: 10px 0;
    font-size: 2rem;
  }

  a {
    position: absolute;
    left: 2rem;
    height: 3rem;
    width: 3rem;
    line-height: 66px;
    display: block;
    font-size: 1.2rem;
    color: black;
    transform: translatex(-90%);
    text-decoration: unset;
     @media (min-width: 768px) {
        left:4%;
      }
    & i {
      padding: 1.5rem;
      display: inline-block;
     
    }
  }
}

/*photo de de arriere des sous pages  */
.cover-Img {
  width: 100%;
  max-height: 32rem;
  object-fit: cover;
}

.menu {
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative;

  &-header {
    padding: 1rem 1rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-title {
    font-family: 'Shrikhand', 'cursive';
  }

  &-btn {
    @include btn;
  }

  &-like {
    @include menuLike;
  }

  &-btn:hover {
    .menu-like {
      &--noBg {
        opacity: 0;
      }
    }
  }
}

.menu-elements {
  display: grid;

  @media (min-width: 64rem) {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
  }

  @media (min-width: 768px) {
   padding: 0 10%;
  }
}

.menu-header{
  @media (min-width: 768px) {
   padding: 0 10%;
  }
}

/*section pour les menus des sous pages */
.menu-element {
  max-width: 100%;
  overflow: hidden;
  padding: 0 1rem;

  &-title {
    text-transform: uppercase;
    position: relative;
    padding-bottom: 0.5rem;
    font-weight: normal;

    &::after {
      content: '';
      width: 3rem;
      height: 0.25rem;
      background-color: $color-tertiary;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
}

/*section pour item des menus des sous pages */
.menuItem {
  background-color: white;
  padding: 1rem;
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 0;
  @include box-shadow;
  overflow: hidden;
  cursor: pointer;
  animation: drop-down 0.6s cubic-bezier(0.5, 1.58, 0.34, 0.82) both;
  transform: scale(0);
  max-width: 100%;

  &-header {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
  }

  &-title {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-description {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-price {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 0.5rem;
  }

  &-confirmation {
    background-color: $color-tertiary;
    margin: -1rem -5rem -1rem 1rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.5s;
  }

  &:hover &-confirmation {
    margin-right: -1rem;
  }

  &-icon-wrapper {
    height: 1.7rem;
    width: 1.7rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
  }

  &:hover &-icon-wrapper {
    animation: rotate 0.5s ease forwards;
  }

  &-icon {
    color: $color-tertiary;
  }
}

.btn-wrapper {
  display: flex;
  text-decoration: none;
  justify-content: center;
  padding: 3rem 0;
}

.order-Btn {
  @include button(primary);
}

@for $i from 0 to 9 {
  .delay-#{$i} {
    animation-delay: $i * 100ms;
  }
}
