$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$appPadding: 1rem;
$footercolor:#353535;
$shadow:rgba(0, 0, 0, 0.25);
$font-logo: "Shrikhand", "cursive";
$backgroundlocation:darken(rgba(255, 255, 255, .90), 9%);


